body {
	background-image: url("/media/beetle.PNG");
	background-repeat: repeat;
	background-size: 250px;
	background-position: top left;
	margin: 20px;

}

.buttons {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	max-width: 800px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.beetle {
	width: 250px;
	height: 250px;
	background-size: cover;
}

.beetle-audio {
	background-image: url("/media/beetleaudio.PNG");
}

.beetle-images {
	background-image: url("/media/beetleimages.PNG");
}

.beetle-video {
	background-image: url("/media/beetlevideo.PNG");
}


.beetle-text {
	background-image: url("/media/beetletext.PNG");
}

