body {
	background-image: url("/media/beetle.PNG");
	background-repeat: repeat;
	background-size: 250px;
	background-position: top left;
	margin: 20px;
	position: relative;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.beetle {
	position: absolute;
	width: 250px;
	height: 250px;
	background-size: cover;
}

.beetle-audio {
	background-image: url("/media/beetleaudio.PNG");
	top: 250px;
	left: 250px;
}

.beetle-images {
	background-image: url("/media/beetleimages.PNG");
	top: 250px;
	left: 500px;
}

.beetle-video {
	background-image: url("/media/beetlevideo.PNG");
	top: 250px;
	left: 750px;
}


.beetle-text {
	background-image: url("/media/beetletext.PNG");
	top: 250px;
	left: 1000px;
}

