body {
	background-image: url("background.png");
	background-repeat: repeat;
	background-size: 50px;
	background-position: top left;
	margin: 20px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	
}